/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* purgecss end ignore */
@import "tailwindcss/utilities";

@font-face {
	font-family: "OpenSans-Bold";
	src: url(~/assets/fonts/OpenSans-Bold.ttf) format("truetype"),
		local("OpenSans-Bold");
}

@font-face {
	font-family: "OpenSans-Medium";
	src: url(~/assets/fonts/OpenSans-Medium.ttf) format("truetype"),
		local("OpenSans-Medium");
}

@font-face {
	font-family: "OpenSans-Regular";
	src: url(~/assets/fonts/OpenSans-Regular.ttf) format("truetype"),
		local("Montserrat-Regular");
}

@font-face {
	font-family: "OpenSans-SemiBold";
	src: url(~/assets/fonts/OpenSans-SemiBold.ttf) format("truetype"),
		local("OpenSans-SemiBold");
}

@font-face {
	font-family: "OpenSans-Light";
	src: url(~/assets/fonts/OpenSans-Light.ttf) format("truetype"),
		local("OpenSans-Light");
}
